<%= form_for(@setpoint) do |f| %>
  <% if @setpoint.errors.any? %>
    <div id="error_explanation">
      
      <ul><% @setpoint.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :room_id, "Pièce" %><br />
    <%= f.select :room_id, options_from_collection_for_select(Room.find(:all, :conditions => { :isoutside=> false }), :id, :name) ,{:multiple => true}  %>
  </div>
  <div class="field">
    <%= f.label :temperature , "Température"%><br />
    <%= f.number_field :temperature, :in => -40...50  %>
    
  </div>
  <div class="field">
    <%= f.label :times, "Heure" %><br />
    <%= f.time_select :times%>
  </div>


    <div class="field">
    <%= f.label :day, "Jour" %><br />
    <%= f.select(:day, options_for_select([['Lundi',1],['Mardi', 2],['Mercredi', 3],['Jeudi', 4],['Vendredi',5],['Samedi', 6], ['Dimanche', 0]])) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
