<h1>Liste des consignes</h1>

<table>
  <tr>
    <th>Pièce</th>
    <th>Température</th>
    <th>Heure</th>
    <th>Jour</th>
    <th colspan="3"> Modification</th>
  </tr>

<% @setpoints.each do |setpoint| %>
  <tr>
    <td><%= setpoint.room.name %></td>
    <td><%= setpoint.temperature %></td>
    <td><%= setpoint.times.strftime("%H:%M") %></td>
    <td><%= setpoint.day_full %></td>
    <td class="colonneedit"><%= link_to 'Voir', setpoint %></td>
    <td class="colonneedit"><%= link_to 'Modifier', edit_setpoint_path(setpoint) %></td>
    <td class="colonneedit"><%= link_to 'Supprimer', setpoint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouvelle consigne', new_setpoint_path %>
