.row-fluid
  .span5
    %table#setpoints_planning.table.table-bordered.table-condensed
      %thead
        %tr
          %th.span2 Heure
          %th.span1 Dimanche
          %th.span1 Lundi
          %th.span1 Mardi
          %th.span1 Mercredi
          %th.span1 Jeudi
          %th.span1 Vendredi
          %th.span1 Samedi
      %tbody
        - for h in 0..23 # boucle sur les heures
          %tr
            %th
              = "#{h}H"
            - for d in 0..6
              - temp_data_html = ""
              - id = []
              - @setpoints.select { |set| set.day == d && set.times.hour == h }.each do |setpoint|
                - temp_data_html += "#{setpoint.room.name} : #{setpoint.temperature} <br>"
                - id.append setpoint.id
              %td.center.sel_item{:rel => "popover", :data => { "id" => id.join('-'), "content" => temp_data_html.html_safe}}
                %i.icon-info-sign



= render "mass_assignments"
