<p id="notice"><%= notice %></p>

<table class="table table-striped table-bordered">
  <tr>
    <th>Pièce</th>
    <th>Température</th>
    <th>Heure</th>
    <th>Jour</th>
  </tr>
  <tr>
    <td><%= @setpoint.room.name %></td>
    <td><%= @setpoint.temperature %></td>
    <td><%= @setpoint.times.strftime("%H:%M") %></td>
    <td> <%= @setpoint.day_full %></td>
  </tr>

</table>

<%= link_to 'Modifier', edit_setpoint_path(@setpoint) %> |
<%= link_to 'Retour', setpoints_path %>
