<h1>Historique</h1>
<div class="history-top">
    <div class="btn-group" data-toggle="buttons-radio">
	    <a href="<%= history_index_path %>?time=100000" class="btn btn-small<%= ' active' if @time == 100000 %>">Toujours</a>
	    <a href="<%= history_index_path %>?time=8766" class="btn btn-small<%= ' active' if @time == 8766 %>">1 an</a>
	    <a href="<%= history_index_path %>?time=4392" class="btn btn-small<%= ' active' if @time == 4392 %>">6 mois</a>
	    <a href="<%= history_index_path %>?time=720" class="btn btn-small<%= ' active' if @time == 720 %>">1 mois</a>
	    <a href="<%= history_index_path %>?time=168" class="btn btn-small<%= ' active' if @time == 168 %>">1 semaine</a>
	    <a href="<%= history_index_path %>?time=24" class="btn btn-small<%= ' active' if @time == 24 %>">24 heures</a>
    </div>
</div>
<div class="row-fluid">
	<div class="span12">
		<div class="widget">
			<div class="widget-header"><i class="icon-signal"></i><h3>Évolution globale</h3></div>
			<div class="widget-content">
				<div id="HistoryGlobal" class="flot flot-width-full height-200">
					<div class="spinner"><i class="icon-spinner icon-spin"></i></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">
	<% index = 1 %>
	<% @rooms.each do |room| %>
		<div class="span6">
			<div class="widget">
				<div class="widget-header"><i class="icon-signal"></i><h3><%= room.name %></h3></div>
				<div class="widget-content">
					<div id="History<%= room.id %>" class="flot flot-width-full height-200">
						<div class="spinner"><i class="icon-spinner icon-spin"></i></div>
					</div>
				</div>
			</div>
		</div>
		<% if (index % 2) == 0 %>
			</div>
			<div class="row-fluid">
		<% end %>
		<% index = index + 1 %>
	<% end %>
</div>
<div class="row-fluid history">
			<div class="span4">
				<div class="widget-header"><i class="icon-bar-chart"></i><h3>Historique températures</h3></div>
				<div class="widget-content">
					<ul class="history-home">
						<% TemperatureMeasure.includes(:room).all.each do |temperature|	%>
							<li><span class="label"><%= temperature.created_at.strftime("%H:%M:%S") %></span> <span class="label label-room" style="background-color:<%= temperature.room.color %>;"><%= temperature.room.name %></span> <%= temperature.temperature %> °C</li>
						<% end %>
					</ul>
				</div>
			</div>
			<div class="span4">
				<div class="widget-header"><i class="icon-bar-chart"></i><h3>Historique ouvertures</h3></div>
				<div class="widget-content">
					<ul class="history-home">
						<% OpeningMeasure.includes(:room).all.each do |opening_history|	%>
							<li><span class="label"><%= opening_history.created_at.strftime("%H:%M:%S") %></span> <span class="label label-room label-info"><%= opening_history.opening.name %></span> <%= opening_history.opened ? "Ouvert" : "Fermé" %></li>
						<% end %>
					</ul>
				</div>
			</div>
			<div class="span4">
				<div class="widget-header"><i class="icon-bar-chart"></i><h3>Historique chauffage</h3></div>
				<div class="widget-content">
					<ul class="history-home">
					<% HeatingLog.includes(:room).all.each do |heating_log| %>
						<% next if heating_log.room.isoutside? %>
						<li><span class="label"><%= heating_log.created_at.strftime("%H:%M:%S") %></span> <span class="label label-room" style="background-color:<%= heating_log.room.color %>;"><%= heating_log.room.name %></span> <%= heating_log.heating ? "Allumé" : "Éteint" %></li>
					<% end %>
					</ul>
				</div>
			</div>
		</div>

<script src="/assets/jquery.js?body=1" type="text/javascript"></script>
<script src="/assets/jquery_ujs.js?body=1" type="text/javascript"></script>
<script type="text/javascript">
function graphes(){
    // Graphe des mesures récentes
	var t = (new Date()).getTime();
	var options = {
        grid : {
                color: "#AAA",
                backgroundColor: { colors: ["#444", "#333"] },
                hoverable: true,
                borderWidth: 1
            },
        tooltip: true,
        tooltipOpts: {
        	content: "<strong>%s :</strong> %x - %y°C"
        },
		legend: {
				position: "sw",
                backgroundColor: "#aaaaaa",
                backgroundOpacity: 0.3
			},
		xaxis: {
				mode: "time",
				timeformat: "<%= "%d/%m/%y " if @time>24%>%H:%M",
				timezone: "browser",
                color: "#666"
			},
        yaxis: {
                color: "#888"
        }
	};
	var options2 = {
        grid : {
                color: "#AAA",
                backgroundColor: { colors: ["#444", "#333"] },
                hoverable: true,
                borderWidth: 1
            },
        tooltip: true,
        tooltipOpts: {
        	content: "<strong>%s :</strong> %x - %y°C"
        },
		legend: {
				show:false
			},
		xaxis: {
				mode: "time",
				timeformat: "<%= "%d/%m " if @time>24%>%H:%M",
				timezone: "browser",
                color: "#666"
			},
        yaxis: {
                color: "#888"
        }
	};

	$.ajax({
		url: "/getRecentJSON?time=<%= @time %>",
		method: 'GET',
		dataType: 'json',
		success: function(json){
			data = json;
			$("#HistoryGlobal").plot(data, options);
		}
	});
	<% @rooms.each do |room| %>
		$.ajax({
			url: "/getRecentJSON?room=<%= room.id %>&time=<%= @time %>",
			method: 'GET',
			dataType: 'json',
			success: function(json){
				data = json;
				$("#History<%= room.id %>").plot(data, options2);
			}
		});
	<% end %>
}
</script>