<p>You need to login to access this DomoHouse (username = admin; password = admin)</p>
<%= form_tag do %>
  <%= label_tag(:name, "Username") %>
  <%= text_field_tag(:name) %>
  <%= label_tag(:password, "Password") %>
  <%= password_field_tag(:password) %>
  <p><%= submit_tag("Login", :class => "btn btn-primary") %></p>
<% end %>