<p>You need to login to access this DomoHouse.</p>
<%= bootstrap_flash %>
<%= form_tag do %>
  <%= text_field_tag(:name, nil, :placeholder => 'Username (admin)') %>
  <%= password_field_tag(:password, nil, :placeholder => 'Password (admin)') %>
  <%= submit_tag("Login", :class => "btn btn-primary") %>
<% end %>