<p>Vous devez vous identifier pour accéder à MyDomoHome.</p>
<%= bootstrap_flash %>
<%= form_tag do %>
  <%= text_field_tag(:name, nil, :placeholder => 'Identifiant (admin)') %>
  <%= password_field_tag(:password, nil, :placeholder => 'Mot de passe (admin)') %>
  <%= submit_tag("Authentification", :class => "btn btn-primary") %>
<% end %>