<h1>Simulateur</h1>
<p>Le simulateur vous permet de forcer la modification de températures ou d'états d'ouvertures.</p>
<%= form_tag 'simulator', method: :post, class: "form-horizontal" %>
<div class="row-fluid">
      <div class="span6">
        <div class="row-fluid">
          <div class="span12">
            <div class="widget-header"><i class="icon-bar-chart"></i><h3>Temperatures</h3></div>
            <div class="widget-content">
              <% @rooms.each do |room| %>
              <div class="control-group">
                <label class="control-label" for="temperature_<%= room.id%>"><%= room.name %></label>
                <div class="controls">
                  <%= text_field_tag "temperature_#{room.id}", room.temperature, :in => -40...50 %><br>
                </div>
              </div>
              <% end %>
              <div class="control-group">
                <div class="controls">
                  <%= button_tag raw("<i class=\"icon-refresh\"></i> Enregistrer"), :class => 'btn btn-primary' %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span12">
            <div class="widget-header"><i class="icon-random"></i><h3>Donnée fictives</h3></div>
            <div class="widget-content">
              <p>Cliquez sur ce bouton pour supprimer toutes les données d'historiques enregistrées et générer deux jours de données fictives. (Cette opération peut prendre quelques minutes)</p>
              <div class="center">
                <%= link_to raw("<i class=\"icon-random\"></i> Générer"), {:controller => "simulator", :action => "generateFakeDatas"}, :class => "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="span6">
        <div class="widget">
          <div class="widget-header"><i class="icon-tasks "></i><h3>Ouvertures</h3></div>
          <div class="widget-content">
            <% @openings.each do |opening| %>
            <div class="control-group">
              <label class="control-label" for="opening_<%= opening.id%>"><%= opening.name %></label>
              <div class="controls">
                <%= select_tag "opening_#{opening.id}", "<option#{' selected="selected"' if opening.opened}>Ouverte</option><option#{' selected="selected"' unless opening.opened}>Fermée</option>".html_safe %>
              </div>
            </div>
            <% end %>
            <div class="control-group">
              <div class="controls">
                <%= button_tag raw("<i class=\"icon-refresh\"></i> Enregistrer"), :class => 'btn btn-primary' %>
              </div>
            </div>
          </div>
        </div>
      </div>
</form>
