<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title><%= content_for?(:title) ? yield(:title) : "MyDomoHome" %></title>
    <%= csrf_meta_tags %>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600">
    <%= stylesheet_link_tag "bootstrap.min", :media => "all" %>
    <%= stylesheet_link_tag "font-awesome.min", :media => "all" %>
    <%= stylesheet_link_tag "base", :media => "all" %>
    <%= stylesheet_link_tag "base.responsive", :media => "all" %>
  </head>
  <body>
<header>
  <nav class="navbar navbar-fluid-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-inverse btn-collapse btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-user"></span>
        </a>
        <%= link_to(raw("<i class=\"icon-cloud\"></i><span>MyDomoHome</span>"), root_path, :class => "brand") %>
        <div class="nav-collapse">
          <ul class="nav pull-right">
            <li class="hello"><span>Bonjour <%= session[:user]%></span></li>
            <li><a href="#"><i class="icon-user"></i> Profil</a></li>
            <li><%= link_to raw("<i class=\"icon-off\"></i> Déconnexion"), :controller => 'authentification', :action => 'logout' %></li>
          </ul>
        </div>
      </div> <!-- /container -->
    </div> <!-- /navbar-inner -->
  </nav> <!-- /navbar -->

  <nav class="subnavbar">
    <div class="subnavbar-inner">
      <div class="container-fluid">
        <ul class="mainnav">
          <%= tab_link_to raw("<i class=\"icon-home\"></i><span>Home</span>"), root_path, params[:controller] == 'accueil'  %>
          <li>
            <a href="#">
              <i class="icon-bar-chart"></i>
              <span>Historique</span>
            </a>              
          </li>
          <li>          
            <a href="#">
              <i class="icon-calendar"></i>
              <span>Programmation</span>
            </a>            
          </li>
          <li>          
            <a href="#">
              <i class="icon-tasks"></i>
              <span>Consignes</span>
            </a>            
          </li>
          <%= tab_link_to raw("<i class=\"icon-cogs\"></i><span>Configuration</span>"), homes_path, params[:controller] == 'homes'  %>
          <%= tab_link_to raw("<i class=\"icon-group\"></i><span>Utilisateurs</span>"), users_path, params[:controller] == 'users'  %>
          <%= tab_link_to raw("<i class=\"icon-fire\"></i><span>Simulator</span>"), simulator_index_path, params[:controller] == 'simulator'  %>
        </ul>
      </div> <!-- /container -->
    </div> <!-- /subnavbar-inner -->
  </nav> <!-- /subnavbar -->
</header>
<div id="sub-background">s</div>
<aside>
  <div class="toggle-submenu">
    <a class="btn btn-collapse btn-inverse">
      <span class="icon-reorder"></span>
    </a>
  </div>
  <ul class="nav submenu-collapse">
    <li class="active">
      <a href="#"><i class="icon icon-home"></i><span> Vue d'ensemble</span></span></a>
    </li>
    <li>
      <a href="#"><i class="icon icon-th-list"></i><span> Configuration</span></a>
    </li>
    <li>
      <a href="#"><i class="icon icon-file"></i><span> Événements récents <span class="label">4</span></span></a>
    </li>
    <li>
      <a href="#"><i class="icon icon-signal"></i><span> Connectivité</span></a>
    </li>
  </ul>
</aside>
<section>
  <div class="container-fluid">
    <%= bootstrap_flash %>
    <%= yield %>
    <footer><a href="http://www.ecam.be/">ECAM</a> - Année académique 2012-2013</footer>
  </div>
</section>

<!--[if IE]><%= javascript_include_tag "excanvas" %><![endif]-->
<%= javascript_include_tag "application" %>
<!--
<%= javascript_include_tag "base" %>
-->
  </body>
</html>