<h1>Configuration</h1>
<%= nested_form_for @home do |f| %>
  <div class="row-fluid">
    <div class="span4">
      <div class="widget">
        <div class="widget-header"><i class="icon-bookmark"></i><h3>Configuration</h3></div>
        <div class="widget-content">
          <h4>Mode automatique</h4>
          <div class="interrupteur">
            <%= f.check_box :mode_auto %>
            <%= f.label :mode_auto, raw('&nbsp;') %>
          </div>
          <h4>Seuil de luminosité</h4>
          <%= f.hidden_field :light_threeshold, :id => 'light_threeshold_hidden' %>
          <strong class="light_threeshold_percentage" style="text-align:center; vertical-align:text-bottom; margin-right:10px;">
            <%= number_to_percentage(@home.light_threeshold, :precision => 0) %>
          </strong>
          <div class="slider" style="width:85%; display:inline-block;">  </div>
        </div>
      </div>
    </div>
    <% unless @home.mode_auto %>
      <div class="span4">
          <div class="widget">
            <div class="widget-header"><i class="icon-bookmark"></i><h3>Chauffages</h3></div>
            <div class="widget-content">
              <% index = 0 %>
              <%= f.fields_for :rooms do |room| %>
                <% unless @home.rooms[index].isoutside? %>
                  <div class="piece">
                    <h4 style="margin-top:-5px;"><%= @home.rooms[index].name %></h4>
                      <div class="interrupteur">
                        <%= room.check_box :heating, :class => 'check_box' %>
                        <%= room.label :heating, raw('&nbsp;') %>
                      </div>
                    </div>
                  <% end %>
                <% index += 1 %>
              <% end %>
            </div>
          </div>
        </div>
      <div class="span4">
        <div class="widget">
          <div class="widget-header"><i class="icon-bookmark"></i><h3>Lampes</h3></div>
          <div class="widget-content">
            <% index = 0 %>
            <%= f.fields_for :rooms do |room| %>
              <% if @home.rooms[index].has_light? %>
                <div class="piece">
                  <h4><%= @home.rooms[index].name %></h4>
                  <div class="interrupteur exterieur">
                    <%= room.check_box :light, :class => 'check_box' %>
                    <%= room.label :light, raw('&nbsp;') %>
                  </div>
                </div>
              <% end %>
              <% index += 1 %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget">
          <div class="widget-content center">
            <%= f.button raw("<i class=\"icon-refresh\"></i> Mettre à jour"), :class => 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
<% end %>